.todoDemi{
    width:100vw;
}
.miH3{
    text-align: center;
}
.total{
    width: 100%;
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}
.tresCuartos{
    width: 60%;
}
.cuarto{
    width: 40%;
    text-align: center;
}
.sobreMi{
    width:90%;
    word-break:break-all;
}

@media (max-width: 1000px) {
    .total{
        display: block;
        margin-bottom: 0;
    }    
    .tresCuartos{
        width: 100%;
        margin: 0 auto;
    }
    .cuarto{
        width: 100%;
        text-align: center;    
    }
    .misLogos{
        margin-bottom: 5%;
        text-align: center;
        margin:0 auto;
    }
   
    .sendBtn{
        margin-top: 4%;
    }
    .sobreMi{
        width:100%;
        font-size: medium;
        text-align: center;
        align-items: center;
        word-wrap: break-word;
        word-break: break-word;
    
    }
}




