.todoDemi{
    width:100vw;
    height:100vh;
    margin-bottom: 10%;
}
.miH3{
    text-align: center;
}
.total{
    width: 100%;
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}
.tresCuartos{
    width: 60%;
}
.cuarto{
    width: 40%;
    text-align: center;
}
.sobreMi{
    width:90%;
    word-break:normal;
}
.logos{
    opacity: 0.7
}
.logos:hover{
    width: 15%;
    opacity: 1;
}


@media (max-width: 1000px) {
    .todoDemi{
        width:100vw;
        height:100vh;
        margin-bottom: 100%;
    }
    .total{
        display: block;
        margin-bottom: 0;
    }    
    .tresCuartos{
        width: 100%;
        margin: 0 auto;
    }
    .cuarto{
        width: 100%;
        text-align: center;    
    }
    .misLogos{
        margin-bottom: 5%;
        text-align: center;
        margin:0 auto;
        
    }
    .logos{
        width: 25%;
    }
    .sendBtn{
        margin-top: 4%;
    }
    .sobreMi{
        width:100%;
        font-size: medium;
        text-align: center;
        align-items: center;
        word-wrap: break-word;
        word-break: break-word;
    
    }
}




