a{
    text-decoration: none;
    color:white;
}
a:hover{
    color:white;
}
.totCarru{
    margin-top:8%;
    margin-bottom:8%;
}
.itemCarru{
    width: 100%;
    display: block;
    justify-content: space-around;
    padding: 6%;
}
.info {
    width:100%;
    margin-right:15%;
}
.imagen{
    width:100%;
    text-align:center;
    float:right;
}