.miForm{
    margin: 0 auto;
    width: 80%;
}
.sendBtn{
    margin-bottom: 5%;
}
.miH3{
    text-align: center;
}
.contacteme{
    margin-top: 5%;
}

@media (max-width: 900px) {
    .contacteme{
        margin-top: 5%;
    }
    .miH3{
        text-align: center;
        margin-top: 5%;
    }
    .miForm{
        margin-top: 10%;
        text-align: center;
        width: 100%;
    }
    .sendBtn{
        margin-bottom: 5%;
    }
}