.miForm{
    margin: 0 auto;
    width: 80%;
}
.sendBtn{
    margin-bottom: 5%;
}
.mih3{
    text-align: center;
}
.contacteme{
    margin-top: 5%;
}

@media (max-width: 900px) {
    .contacteme{
        margin-top: 5%;
    }
    .mih3{
        text-align: center;
        margin-top: 20%;
    }
    .miForm{
        margin-top: 10%;
        text-align: center;
        width: 100%;
    }
    .sendBtn{
        margin-bottom: 5%;
    }
    .parrafito{
        font-size:.9em;
        text-align: center;
        /* word-break:break-all; */
    }
}