a{
    text-decoration: none;
}
.redes{
    width: 33%;
}
@media (max-width: 1000px) {
    .totFooter{
        display: flex;
    }
    .redes{
        width: 33%;
    }
    .logoFooter{
        width: 15%;
    }
    .MIP{
        font-size: small;
    }
    .download{
        text-align: center;
        
        
    }
    .pDelFooter{
        text-align: center;
        margin-top: 5%;
    }
    a{
        text-decoration: none;
    }
}