a {
    text-decoration: none;
}

.redes {
    width: 33%;
}

.download {
    text-align: center;


}

.pDelFooter {
    text-align: center;
    margin-top: 5%;
}

@media (max-width: 1000px) {
    .download {
        text-align: center;
    }

    .toti {
        width: 100%;
        display: block;
    }

    .totFooter {
        display: flex;
    }

    .pDelFooter {
        width: 100%;
        text-align: center;

    }

    .redes {
        width: 100%;
        margin-bottom: 2;
    }

    .logo {
        width: 6%;
    }

    a {
        text-decoration: none;
    }
}