.algo{    
    background-image: url(/Users/ignaciocalvagna/portfolio/miportfolio/src/assets/img/gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    

}
.headDesc{
    margin-bottom: 15%;
    color:white;
    position:top;
}
.yo{
    top: -650px;
    left: 150px;
    z-index: 1150px;
    position: relative;
}

.sobreMi{
    font-size: x-large;
    margin-top: 5%;
}
@media (max-width: 600px) {
   
}