
.headDesc{
    margin-bottom: 15%;
    color:white;
    position:top;
}
.yo{
    top: -650px;
    left: 150px;
    z-index: 1150px;
    position: relative;
}

.info{
    display: block;
}
 .limit{
     font-size:xxx-large;
     width: 50%;
     margin:0;
     padding:0;
 }
.sobreMi{
    font-size: x-large;
    margin-top: 5%;
}
@media (max-width: 1000px) {
 
    .yo{
        top: -290px;
        left: 95px;
        z-index: 1150px;
        position: relative;
    }
    .limit{
        font-size:xx-large;
        width: 50%;
        margin:0;
        padding:0;
    }
}


/* 

@media (max-width: 450px) {

    .yo{
        top: -190px;
        left: 25px;
        z-index: 1150px;
        position: relative;
    }
    .limit{
        font-size:large;
        width: 50%;
        margin:0;
        padding:0;
    }
} */