.header{
    opacity: .5;    
    height:1040px;
    
}
.headDesc{
    
    color:white;
    position:top;
}
.yo{
    width: 70%;
    top: -650px;
    left: 150px;
    z-index: 1150px;
    position: relative;
}


.downArrow{
    position: relative;
    left: 55%;
    bottom: -300px;
}

.info{
    display: block;
}
 .limit{
     font-size:xxx-large;
     width: 50%;
     margin:0;
     padding:0;
 }
 .limit2{
    font-size:xxx-large;
    width: 50%;
    margin:0;
    padding:0;
}
.sobreMi{
    font-size: x-large;
    margin-top: 5%;
}
@media (max-width: 1000px) {
    .downArrow{
        position: relative;
        bottom: -9em;
        left: 55%;
    }

    .laImg{
        width: 100%;
    }
    .header{
        
        height: 855px;
    }

    .yo{
        top: -290px;
        left: 95px;
        z-index: 1150px;
        position: relative;
    }
    .limit{
        font-size:xx-large;
        width: 50%;
        margin:0;
        padding:0;
    }
}




@media (max-width: 450px) {

    .yo{
        top: -690px;
        left: 25px;
        z-index: 1150px;
        position: relative;

    }
    .limit{
        font-size:xxx-large;  
        width: 50%;
        margin:0;
        padding:0;
    }
    .limit2{
        font-size:xx-large;
    }
}