.mitem{
    padding: 15%;
}
.item-producto{
    display: flex;
    margin:15%;
    
}
.img-producto{
    margin-top:4%;
    width: 55%;
    float: left;
    margin-left:6%
}
.desc-producto{
    width: 55%;
    float: right;
}


@media (max-width: 1000px) {
    .proyects{
        margin-bottom: 55%;
    }
    .item-producto{
        display: block;
        margin-top:5%;
        margin-bottom:5%;
     
        
    }
    .desc-producto{
        width: 100%;
        
    }
    .img-producto{
        width: 100%;
        margin:0 auto;
   
    }

}